<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}">

</head>

<body>
	<header th:replace="~{layout/layout :: header}"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header bg-info text-white" th:text="${title}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-success btn-xs" th:href="@{'/user/view/' + ${request.user.id}}"
						th:text="'&laquo; Back'"></a>
				</h4>
				<form th:action="@{/request/form}" th:object="${request}" method="post">
					<!--Security Token-->
					<div th:replace="~{layout/_security :: csrf}"></div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="'User name'"></label>
						<div class="col-sm-6">
							<input th:value="${request.user.firstName} + ' ' + ${request.user.lastName}"
								class="form-control" disabled="disabled" />
						</div>
					</div>
					<div class="form-group row">
						<label for="description" class="col-sm-2 col-form-label" th:text="'Description'"></label>
						<div class="col-sm-6">
							<input type="text" th:field="*{description}" class="form-control" th:errorclass="'form-control is-invalid'"/>
							<div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="additionalItems" class="col-sm-2 col-form-label" th:text="'Additional Items'"></label>
						<div class="col-sm-6">
							<textarea th:field="*{additionalItems}" class="form-control"></textarea>
						</div>
					</div>
					<!--Search Item Supplies-->
					<div class="form-group row">
						<label for="search_item" class="col-sm-2 col-form-label" th:text="'Search for Cleaners'"></label>
						<div class="col-sm-6">
							<input type="Search for Cleaners" name="search_item" id="search_item" class="form-control" />
						</div>
					</div>
					<!--Supply Items Template-->
					<table th:replace="request/template-items :: requestItems"></table>
					
					<table id="loadSupplyItems" class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Quantity</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					<!--== Total ===-->
					<h5>Total <span class="badge badge-secondary" id="grand_total">0</span></h5>
					
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${title}" class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="~{layout/layout :: footer}"></footer>
	<script th:replace="request/js/autocomplete-itemsupplies :: javascript"></script>
</body>

</html>